<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Music Encryption and Decryption Software</title>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Music Encryption and Decryption Software</h1>
        <h2 class="text-center">(MEDS)</h2>

        <div class="row mt-5">
            <div class="col-md-4 offset-md-2">
                <a href="/music/encryption" class="btn btn-secondary btn-block">Encryption</a>
            </div>
            <div class="col-md-4">
                <a href="https://cifkao.github.io/html-midi-player/" class="btn btn-secondary btn-block">Midi Player</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <a href="/music/decryption" class="btn btn-secondary btn-block">Decryption</a>
            </div>
        </div>
    </div>

</body>

</html>
